:root{
  --gray-0: #EFF1F6;
  --gray-400: #56616B;
  --gray-500: #31373D;
  --orange-100: #FFEEE5;
  --color-secondary: #FF5403;
  --color-primary: #131316;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

